<h1 align="center">Ice Climbing</h1>
<ul>
    <li><%= link_to "Grand Manan Climbing", pages_grandmanan_path  %></li>
    <li><%= link_to "The Hatchery Climbing", pages_hatchery_path  %></li>
    <li><%= link_to "Annual Ice Festival Climbing", pages_icefestival_path  %></li>
    <li><%= link_to "Ice Climbing Videos", pages_icevideos_path  %></li>
    <li><%= link_to "Kingston Peninsula Climbing", pages_kingston_path  %></li>
    <li><%= link_to "Minister's Face Climbing", pages_ministers_path  %></li>
    <li><%= link_to "Mt Misery Climbing", pages_mtmisery_path  %></li>
    <li><%= link_to "New Hampshire Ice Climbing", pages_nhice_path  %></li>
    <li><%= link_to "Parlee Brook Climbing", pages_parleebrook_path  %></li>
    <li><%= link_to "Quarry Climbing", pages_quarry_path  %></li>
    <li><%= link_to "Walton Glen Climbing", pages_waltonglen_path  %></li>
    <li><%= link_to "Welsford Ice Climbing", pages_welsfordice_path  %></li>
</ul>

