<h1 align="center">Rock Climbing</h1>
<ul>
    <li><%= link_to "California Climbing", pages_california_path  %></li>
    <li><%= link_to "Colorado Climbing", pages_colorado_path  %></li>
    <li><%= link_to "Kentucky Climbing", pages_kentucky_path  %></li>
    <li><%= link_to "Maine Climbing", pages_maine_path  %></li>
    <li><%= link_to "Various other Climbing", pages_miscrock_path  %></li>
    <li><%= link_to "Nevada Climbing", pages_nevada_path  %></li> 
    <li><%= link_to "New Brunswick Climbing", pages_newbrunswick_path  %></li>
    <li><%= link_to "Newfoundland Climbing", pages_newfoundland_path  %></li>
    <li><%= link_to "New Hampshire Climbing", pages_newhampshire_path  %></li>
    <li><%= link_to "New York Climbing", pages_newyork_path  %></li>
    <li><%= link_to "Oregon Climbing", pages_oregon_path  %></li>
    <li><%= link_to "Quebec Climbing", pages_quebec_path  %></li>
    <li><%= link_to "Road Trips", pages_roadtrips_path  %></li>
    <li><%= link_to "Utah  Climbing", pages_utah_path  %></li>
    <li><%= link_to "Wyoming Climbing", pages_wyoming_path  %></li>
</ul>

